@charset "UTF-8";

/*impressão*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg);/*desnecessario*/
    }

    main{
        width: 90vw;
        border: 1px solid black ;
    }

    main h1 {
        text-shadow: none;
        color: black;
        text-align: center;
    }

    main::after{
        content: 'essa impressao foi feita atraves do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main img#print{
        margin: auto;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}